{% extends "base.html" %}
{% block headtitle %}Eezee MVC{% endblock %}
{% block title %}Eezee MVC{% endblock %}
{% block content %}
<div id="main">
  <p>Eezee MVC is a Simple Model, View, Controller (MVC) framework for Google App Engine.</p>
  <p><b>Features</b>
  <ul>
    <li>Has a Controller Class that does routing, handling and rendering templates</li>
    <li>Your controllers reside in the controllers folder, views (html Django templates) in views folder,
    models in models folder</li>
    <li>Allows Controller to recieve GET/POST parameters as function arguments.</li>
    <li>Use's S Nakajima's excellant <a href="http://github.com/snakajima/gdispatch">gdispatch router</a></li>
  </ul>
  </p>
  <p>
  <ul>
    <li>For more info go to <a href="/about">Eezee MVC - About</a> Page</li>
    <li><a href="http://code.google.com/p/eezeemvc/downloads/list">Download Eezee MVC</a></li>
  </ul>
  </p>
 
</div>	
{% endblock %}